rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, create, update: if request.auth != null && request.auth.uid == userId;
      allow delete: if request.auth != null && request.auth.uid == userId;
      match /games/{gameId} {
        allow read, create, update, delete: if request.auth != null && request.auth.uid == userId;
      }
      match /sessions/{sessionId} {
        allow read, create, update, delete: if request.auth != null && request.auth.uid == userId;
      }
    }
    match /contactMessages/{messageId} {
      allow create: if request.auth != null && request.resource.data.uid == request.auth.uid;
      allow read, update, delete: if false;
    }
  }
}
